body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    flex-direction: column;
    background-color: rgb(81, 81, 115);
    color: rgb(0, 255, 8);
}
.circle{
    position: relative;
}
.clock{
    width: 200px;
    height: 200px;
    background-color: cadetblue;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url(https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?cs=srgb&dl=pexels-miguel-%C3%A1-padri%C3%B1%C3%A1n-255379.jpg&fm=jpg);
    background-repeat:no-repeat;
    background-size: 300px 300px;
    opacity: 0.5; */
}
.clock::before{
    content: '';
    position:absolute;
    width: 8px;
    height: 8px;
    background-color: black;
    border-radius: 50%;
    z-index: 3;
}
.clock em{
    position: absolute;
    transform: rotate(calc(30deg*var(--a)));
    inset: 10px;
    text-align: center;
}
.clock em i{
    position: absolute;
    transform: rotate(calc(-30deg*var(--a)));
    color: white;
    font-size: 20px;
}
.needle b{
    position: absolute;
    width: 4px;
    height: var(--h);
    background-color: var(--c);
    border-radius: 20px;
}
.needle{
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
h1{
    text-decoration:underline;
    text-decoration-style: wavy;
    text-decoration-color: rgb(17, 27, 163);
}
